@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

/* Laptops */

@media screen and (min-width: 1200px) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    max-width: 100%;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 35px;
    padding-top: 32.5px;
  }

  .navWrapper .right {
    padding-top: 32.5px;
    float: right;
  }

  .right .menu {
    display: none;
  }

  #homepage, #calendar, #photoalbum, #lists, #recipes {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 8vw;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
    letter-spacing: 3.33px;
  }

  .navResponsive {
    display: none;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    background-image: url(../assets/pictures/hero_bg.jpg);
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heads {
    margin-top: 100px;
  }

  .pageMargin {
    margin-top: 100px;
  }

  /* Timeline */

  .timeline {
    width: 100%;
  }

  .timelineWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .timelineWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .timelinegrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-auto-rows: auto auto;
    grid-gap: 2%;
    align-items: flex-end;
    justify-content: center;
  }

  .timelinegrid img {
    width: 100%;
  }

  .timelinegrid p {
    font-size: 30px;
    color: #4A4A4A;
  }

  /* Calendar */

  .calendar {
    width: 100%;
  }

  .calendarWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .calendarWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .cal {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }

  .cal iframe {
    padding-top: 30px;
    border: 0;
    width: 1500px;
    height: 700px;
  }

  /* Lists */

  .list {
    width: 100%;
  }

  .listWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .listWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .listWrapper img {
    height: 50px;
  }

  .listWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .listDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #namelist, #listItem {
    font-size: 50px;
  }

  .listView {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
  }

  .listView p, .listView a {
    font-size: 30px;
  }

  .checked {
    text-decoration: line-through;
  }

  #deleteList {
    margin-left: 20px;
  }

  #checkItem, #deleteItem {
    margin-left: 10px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 90vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 70px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin, .loginWrapper #button {
    font-size: 50px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Recipes */

  .recipes {
    width: 100%;
  }

  .recipesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .recipesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .recipesWrapper h4 {
    font-size: 25px;
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
  }

  .recipesWrapper #back {
    height: 50px;
  }

  .recipesWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .recipesWrapper .form h5 {
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .recipesWrapper .form #name {
    width: 500px;
    height: 35px;
  }

  .recipesWrapper .form .input {
    margin-bottom: 25px;
    border: 0.5px solid black;
  }

  .recipesWrapper .form #submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .recipesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .recipe {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
  }

  .recipe img {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe hr {
    border: 1px solid black;
  }

  .recipe .name {
    font-size: 50px;
    text-align: center;
    color: #322f2c;
  }

  .recipeDiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
                      'photo ingredients'
                      'recipe recipe';
    grid-template-columns: 1fr 1fr;
  }

  .recipeDiv .hltext {
    font-size: 27px;
    color: #427e9f;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .recipeDiv underline {
    border-bottom: 3px solid #427e9f;
  }

  .recipeDiv .photo {
    grid-area: photo;
  }

  .recipeDiv .photo img {
    width: 100%;
  }

  .recipeDiv .ingredients {
    grid-area: ingredients;
    font-size: 20px;
    margin-left: 20px;
  }

  .recipeDiv .preparation {
    grid-area: recipe;
    font-size: 20px;
  }

  .edit {
    margin-top: 15px;
    height: 30px;
    margin-bottom: 30px;
  }


}


/* iPads */
@media screen and (min-width: 800px) and (max-width: 1200px) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    max-width: 100%;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 35px;
    padding-top: 32.5px;
  }

  .right {
    padding-top: 32.5px;
    float: right;
  }

  .right .menu {
    display: none;
  }

  #homepage, #calendar, #photoalbum, #lists, #recipes {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 8vw;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
    letter-spacing: 3.33px;
  }

  .navResponsive {
    display: none;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    background-image: url(../assets/pictures/hero_bg.jpg);
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heads {
    margin-top: 100px;
  }

  .pageMargin {
    margin-top: 100px;
  }

  /* Timeline */

  .timeline {
    width: 100%;
  }

  .timelineWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .timelineWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .timelinegrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto auto;
    grid-gap: 2%;
    align-items: flex-end;
    justify-content: center;
  }

  .timelinegrid img {
    width: 100%;
  }

  .timelinegrid p {
    font-size: 25px;
    color: #4A4A4A;
  }

  /* Calendar */

  .calendar {
    width: 100%;
  }

  .calendarWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .calendarWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .cal {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }

  .cal iframe {
    padding-top: 30px;
    border: 0;
    width: 780px;
    height: 550px;
  }

  /* Lists */

  .list {
    width: 100%;
  }

  .listWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .listWrapper h3 {
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .listWrapper img {
    height: 40px;
  }

  .listWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .listDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #namelist, #listItem {
    font-size: 35px;
  }

  .listView {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
  }

  .listView p, .listView a {
    font-size: 30px;
  }

  .checked {
    text-decoration: line-through;
  }

  #deleteList {
    margin-left: 20px;
  }

  #checkItem, #deleteItem {
    margin-left: 10px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 90vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 90px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin, .loginWrapper #button {
    font-size: 70px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Recipes */

  .recipes {
    width: 100%;
  }

  .recipesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .recipesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .recipesWrapper h4 {
    font-size: 25px;
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
  }

  .recipesWrapper #back {
    height: 50px;
  }

  .recipesWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .recipesWrapper .form h5 {
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .recipesWrapper .form #name {
    width: 500px;
    height: 35px;
  }

  .recipesWrapper .form .input {
    margin-bottom: 25px;
    border: 0.5px solid black;
  }

  .recipesWrapper .form #submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .recipesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .recipe {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
  }

  .recipe img {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe hr {
    border: 1px solid black;
  }

  .recipe .name {
    font-size: 50px;
    text-align: center;
    color: #322f2c;
  }

  .recipeDiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
                      'photo ingredients'
                      'recipe recipe';
    grid-template-columns: 1fr 1fr;
  }

  .recipeDiv .hltext {
    font-size: 27px;
    color: #427e9f;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .recipeDiv underline {
    border-bottom: 3px solid #427e9f;
  }

  .recipeDiv .photo {
    grid-area: photo;
  }

  .recipeDiv .photo img {
    width: 100%;
  }

  .recipeDiv .ingredients {
    grid-area: ingredients;
    font-size: 20px;
    margin-left: 20px;
  }

  .recipeDiv .preparation {
    grid-area: recipe;
    font-size: 20px;
  }

  .edit {
    margin-top: 15px;
    height: 30px;
    margin-bottom: 30px;
  }
}

/* Small iPads */
@media screen and (min-width: 761px) and (max-width: 899px) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    max-width: 100%;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 35px;
    padding-top: 32.5px;
  }

  .right {
    padding-top: 32.5px;
    float: right;
  }

  .right .menu {
    display: none;
  }

  #homepage, #calendar, #photoalbum, #lists, #recipes {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 8vw;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
    letter-spacing: 3.33px;
  }

  .navResponsive {
    display: none;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    background-image: url(../assets/pictures/hero_bg.jpg);
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heads {
    margin-top: 100px;
  }

  .pageMargin {
    margin-top: 100px;
  }

  /* Timeline */

  .timeline {
    width: 100%;
  }

  .timelineWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .timelineWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .timelinegrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto auto;
    grid-gap: 2%;
    align-items: flex-end;
    justify-content: center;
  }

  .timelinegrid img {
    width: 100%;
  }

  .timelinegrid p {
    font-size: 25px;
    color: #4A4A4A;
  }

  /* Calendar */

  .calendar {
    width: 100%;
  }

  .calendarWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .calendarWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .cal {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }

  .cal iframe {
    padding-top: 30px;
    border: 0;
    width: 780px;
    height: 550px;
  }

  /* Lists */

  .list {
    width: 100%;
  }

  .listWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .listWrapper h3 {
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .listWrapper img {
    height: 40px;
  }

  .listWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .listDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #namelist, #listItem {
    font-size: 35px;
  }

  .listView {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
  }

  .listView p, .listView a {
    font-size: 30px;
  }

  .checked {
    text-decoration: line-through;
  }

  #deleteList {
    margin-left: 20px;
  }

  #checkItem, #deleteItem {
    margin-left: 10px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 90vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 70px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin, .loginWrapper #button {
    font-size: 50px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Recipes */

  .recipes {
    width: 100%;
  }

  .recipesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .recipesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .recipesWrapper #viewName {
    font-size: 30px;
  }

  .recipesWrapper h4 {
    font-size: 25px;
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
  }

  .recipesWrapper #back {
    height: 50px;
  }

  .recipesWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .recipesWrapper .form h5 {
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .recipesWrapper .form #name {
    width: 500px;
    height: 35px;
  }

  .recipesWrapper .form .input {
    margin-bottom: 25px;
    border: 0.5px solid black;
  }

  .recipesWrapper .form #submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .recipesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .recipe {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
  }

  .recipe img {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe hr {
    border: 1px solid black;
  }

  .recipe .name {
    font-size: 40px;
    text-align: center;
    color: #322f2c;
  }

  .recipeDiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
                      'photo ingredients'
                      'recipe recipe';
    grid-template-columns: 1fr 1fr;
  }

  .recipeDiv .hltext {
    font-size: 24px;
    color: #427e9f;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .recipeDiv underline {
    border-bottom: 3px solid #427e9f;
  }

  .recipeDiv .photo {
    grid-area: photo;
  }

  .recipeDiv .photo img {
    width: 100%;
  }

  .recipeDiv .ingredients {
    grid-area: ingredients;
    font-size: 17px;
    margin-left: 20px;
  }

  .recipeDiv .preparation {
    grid-area: recipe;
    font-size: 17px;
  }

  .edit {
    margin-top: 15px;
    height: 30px;
    margin-bottom: 30px;
  }

}

/* Phone Portrait */

@media screen and (min-width: 300px) and (max-width: 760px) and (orientation: portrait){

  /* Header */

  .header {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    max-width: 100%;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 35px;
    padding-top: 32.5px;
  }

  .right {
    padding-top: 32.5px;
    float: right;
  }

  #homepage, #calendar, #photoalbum, #lists, #recipes {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
    display: none;
  }

  .right .menu {
    display: block;
    height: 25px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 8vw;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
    letter-spacing: 3.33px;
  }

  /* Responsive Nav */

  .open {
    display: block;
  }

  .close {
    float: right;
    margin: 1em 1em 0 0;
  }

  .closeIcon {
    height: 20px;
  }

  .navResponsive {
    width: 0;
    overflow-y: hidden;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: white;
    transition: 0.5s;
    display: block;
  }

  .navResponsive a {
    clear: right;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding: 1em 0;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .navResponsive a:not(:first-child):hover {
    color: #B2B2B2;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    background-image: url(../assets/pictures/hero_bg.jpg);
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heads {
    margin-top: 100px;
  }

  .pageMargin {
    margin-top: 100px;
  }

  /* Timeline */

  .timeline {
    width: 100%;
  }

  .timelineWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .timelineWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 115px;
  }

  .timelinegrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto auto;
    grid-gap: 2%;
    align-items: flex-end;
    justify-content: center;
  }

  .timelinegrid img {
    width: 100%;
  }

  .timelinegrid p {
    font-size: 20px;
    color: #4A4A4A;
  }

  /* Calendar */

  .calendar {
    width: 100%;
  }

  .calendarWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .calendarWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .cal {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }

  .cal iframe {
    padding-top: 30px;
    border: 0;
    width: 300px;
    height: 400px;
  }

  /* Photo Album */

  #photo {
    display: none;
  }

  /* Lists */

  .list {
    width: 100%;
  }

  .listWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .listWrapper h3 {
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .listWrapper img {
    height: 40px;
  }

  .listWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .listDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  #namelist, #listItem {
    font-size: 20px;
  }

  #add {
    height: 40px;
  }

  .listView {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
  }

  .listView p, .listView a {
    font-size: 30px;
  }

  .checked {
    text-decoration: line-through;
  }

  #deleteList {
    margin-left: 20px;
    height: 30px;
  }

  #checkItem, #deleteItem {
    margin-left: 10px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 80vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin, .loginWrapper #button {
    font-size: 25px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Recipes */

  .recipes {
    width: 100%;
  }

  .recipesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .recipesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .recipesWrapper #viewName {
    font-size: 20px;
  }

  .recipesWrapper h4 {
    font-size: 25px;
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
  }

  .recipesWrapper #back {
    height: 50px;
  }

  .recipesWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .recipesWrapper .form h5 {
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .recipesWrapper .form #name {
    width: 95%;
    height: 35px;
  }

  .recipesWrapper .form .input {
    margin-bottom: 25px;
    border: 0.5px solid black;
    width: 95%;
  }

  .recipesWrapper .form #submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .recipesDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .recipe {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
  }

  .recipe img {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe hr {
    border: 1px solid black;
  }

  .recipe .name {
    font-size: 30px;
    text-align: center;
    color: #322f2c;
  }

  .recipeDiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .recipeDiv .hltext {
    font-size: 18px;
    color: #427e9f;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .recipeDiv underline {
    border-bottom: 3px solid #427e9f;
  }

  .recipeDiv .photo img {
    width: 100%;
  }

  .recipeDiv .ingredients {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .recipeDiv .preparation {
    font-size: 15px;
  }

  .edit {
    margin-top: 15px;
    height: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) and (orientation: landscape) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    max-width: 100%;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 35px;
    padding-top: 32.5px;
  }

  .right {
    padding-top: 32.5px;
    float: right;
  }

  #homepage, #calendar, #photoalbum, #lists, #recipes {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
    display: none;
  }

  .right .menu {
    display: block;
    height: 25px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 8vw;
    font-weight: bold;
    color: #4A4A4A;
    text-align: center;
    letter-spacing: 3.33px;
  }

  /* Responsive Nav */

  .open {
    display: block;
  }

  .close {
    float: right;
    margin: 1em 1em 0 0;
  }

  .closeIcon {
    height: 20px;
  }

  .navResponsive {
    width: 0;
    overflow-y: hidden;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-color: white;
    transition: 0.5s;
    display: block;
  }

  .navResponsive a {
    clear: right;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding: 1em 0;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .navResponsive a:not(:first-child):hover {
    color: #B2B2B2;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    background-image: url(../assets/pictures/hero_bg.jpg);
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heads {
    margin-top: 100px;
  }

  .pageMargin {
    margin-top: 100px;
  }

  /* Timeline */

  .timeline {
    width: 100%;
  }

  .timelineWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .timelineWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 115px;
  }

  .timelinegrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto auto;
    grid-gap: 2%;
    align-items: flex-end;
    justify-content: center;
  }

  .timelinegrid img {
    width: 100%;
  }

  .timelinegrid p {
    font-size: 20px;
    color: #4A4A4A;
  }

  /* Calendar */

  .calendar {
    width: 100%;
  }

  .calendarWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .calendarWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .cal {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }

  .cal iframe {
    padding-top: 30px;
    border: 0;
    width: 300px;
    height: 400px;
  }

  /* Lists */

  .list {
    width: 100%;
  }

  .listWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .listWrapper h3 {
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .listWrapper img {
    height: 40px;
  }

  .listWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .listDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #namelist, #listItem {
    font-size: 35px;
  }

  .listView {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
  }

  .listView p, .listView a {
    font-size: 30px;
  }

  .checked {
    text-decoration: line-through;
  }

  #deleteList {
    margin-left: 20px;
  }

  #checkItem, #deleteItem {
    margin-left: 10px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 70vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin, .loginWrapper #button {
    font-size: 25px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Recipes */

  .recipes {
    width: 100%;
  }

  .recipesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .recipesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .recipesWrapper #viewName {
    font-size: 20px;
  }

  .recipesWrapper h4 {
    font-size: 25px;
    color: blue;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
  }

  .recipesWrapper #back {
    height: 50px;
  }

  .recipesWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .recipesWrapper .form h5 {
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .recipesWrapper .form #name {
    width: 500px;
    height: 35px;
  }

  .recipesWrapper .form .input {
    margin-bottom: 25px;
    border: 0.5px solid black;
  }

  .recipesWrapper .form #submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .recipesDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .recipe {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
  }

  .recipe img {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe hr {
    border: 1px solid black;
  }

  .recipe .name {
    font-size: 30px;
    text-align: center;
    color: #322f2c;
  }

  .recipeDiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .recipeDiv .hltext {
    font-size: 18px;
    color: #427e9f;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .recipeDiv underline {
    border-bottom: 3px solid #427e9f;
  }

  .recipeDiv .photo img {
    width: 100%;
  }

  .recipeDiv .ingredients {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .recipeDiv .preparation {
    font-size: 15px;
  }

  .edit {
    margin-top: 15px;
    height: 30px;
    margin-bottom: 30px;
  }
}
