@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

footer {
  z-index: 10;
}


.calendar {
  width: 100%;
  height: auto;
  max-height: 900px;
  min-height: 700px;
  border-width: 0;
}

section.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

section.navigation li {
  float: left;
}

section.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section.navigation li a:hover {
  background-color: #111;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.timeline {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto auto;
  grid-gap: 50px 10px;
  padding: 10px;
  align-items: end;
  justify-content: center;
}


.timeline img {
  width: 100%;
}
